<div class="container-fluid bg">
    <div class="row">
        <div class="col-md-3">
            <div class="dropdown ">
                <a class="btn font" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    IRCTC Trains
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Salient Features</a>
                    <a class="dropdown-item" href="#">Ticket Cancellation Rules</a>
                    <a class="dropdown-item" href="#">Foreign Tourist T&C</a>
                    <a class="dropdown-item" href="#">Group Booking T&C</a>
                    <a class="dropdown-item" href="#">Travel Insurance Claim Process</a>
                </div>
            </div><br>
            <div class="dropdown">
                <a class="btn font" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    General Information
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">More Info</a>
                    <a class="dropdown-item" href="#">FAQs</a>
                    <a class="dropdown-item" href="#">Terms & Conditions</a>
                    <a class="dropdown-item" href="#">Travel Insurance T&C</a>
                    <a class="dropdown-item" href="#">FTR T&C</a>
                    <a class="dropdown-item" href="#">New Facilities in E-Tickets</a>
                </div>
            </div><br>
            <div class="dropdown">
                <a class="btn font" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Important Information
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Bank Transection Charges</a>
                    <a class="dropdown-item" href="#">Service Tax Rule</a>
                    <a class="dropdown-item" href="#">Women Sr Citizen Concession</a>
                    <a class="dropdown-item" href="#">VIKALP Scheme</a>
                    <a class="dropdown-item" href="#">Travel Insurance(Incl. of GST)</a>
                    <a class="dropdown-item" href="#">Menu Rates</a>
                    <a class="dropdown-item" href="#">Rajdhani Menu</a>
                    <a class="dropdown-item" href="#">Browser Settings</a>
                </div>
            </div><br>
            <div class="dropdown">
                <a class="btn font" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Agents
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Black List Agent</a>
                    <a class="dropdown-item" href="#">Find NgeT Agents</a>
                    <a class="dropdown-item" href="#">Norms for RTSA</a>
                    <a class="dropdown-item" href="#">Norms for IATA</a>
                    <a class="dropdown-item" href="#">Norms for GSA</a>
                    <a class="dropdown-item" href="#">Norms for B2B Scheme</a>
                    <a class="dropdown-item" href="#">Registration Form</a>
                    <a class="dropdown-item" href="#">Registration Slip</a>
                </div>
            </div><br>
            <div class="dropdown">
                <a class="btn font" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Enquiries
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Reservation Enquires</a>
                    <a class="dropdown-item" href="#">PNR Enquiry</a>
                    <a class="dropdown-item" href="#">Train Enquiry</a>
                    <a class="dropdown-item" href="#">Trainfare Accomodation</a>
                    <a class="dropdown-item" href="#">Train Betwwen Important Stations</a>
                    <a class="dropdown-item" href="#">Railway Enquiry-130</a>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="dropdown ">
                <a class="btn font" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    How To
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Register</a>
                    <a class="dropdown-item" href="#">Book E_Ticket</a>
                    <a class="dropdown-item" href="#">Cancel E-Ticket</a>
                    <a class="dropdown-item" href="#">Download Tax Invoice</a>
                    <a class="dropdown-item" href="#">Concession for Disabled</a>
                    <a class="dropdown-item" href="#">Book Tatkal Ticket</a>
                </div>
            </div><br>
            <div class="dropdown ">
                <a class="btn font" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    IRCTC Official App
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">IRCTC Rail Connect(IOS)</a>
                    <a class="dropdown-item" href="#">IRCTC iMudra(Android)</a>
                    <a class="dropdown-item" href="#">IRCTC Rail Connect(Android)</a>
                    <a class="dropdown-item" href="#">IRCTC Tourism App</a>
                    <a class="dropdown-item" href="#">IRCTC Air App(Android)</a>
                    <a class="dropdown-item" href="#">IRCTC Air App(IOS)</a>
                </div>
            </div><br>
            <div class="dropdown ">
                <a class="btn font" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Advertise With Us
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Advertisement Enquires</a>
                    <a class="dropdown-item" href="#">Terms & Conditions Mailers</a>
                    <a class="dropdown-item" href="#">Policy for ONline Handcraft Websites</a>
                    <a class="dropdown-item" href="#">Promotions</a>
                    <a class="dropdown-item" href="#">Agency</a>

                </div>
            </div><br>
            <div class="dropdown ">
                <a class="btn font" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Refund Rules
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Cancellation of Ticket & Refund</a>
                    <a class="dropdown-item" href="#">Refund Rule of Suvidha Train</a>
                    <a class="dropdown-item" href="#">Refund Cancellation Rules</a>
                </div>
            </div><br>
            <div class="dropdown ">
                <a class="btn font" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Divyangjan Facilities
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Facility for Divyangjan Users</a>
                    <a class="dropdown-item" href="#">Facility for visually Impaired Users</a>
                    <a class="dropdown-item" href="#">User Guide:Divyangjan Booking</a>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="dropdown ">
                <a class="btn font" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    IRCTC eWallet
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">About</a>
                </div>
            </div><br>
            <div class="dropdown ">
                <a class="btn font" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    IRCTC Loyalty Program
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">IRCTC SBI Credit Card</a>
                    <a class="dropdown-item" href="#">Loyality Account Linking</a>
                    <a class="dropdown-item" href="#">About IRCTC Loyalty Scheme</a>
                    <a class="dropdown-item" href="#">Set Transaction Password</a>
                    <a class="dropdown-item" href="#">Accural of Points</a>
                    <a class="dropdown-item" href="#">Redemption of Points</a>
                    <a class="dropdown-item" href="#">Purchase of Points</a>
                </div>
            </div><br>
            <div class="dropdown ">
                <a class="btn font" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    About Us
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Awards & Achievements</a>

                </div>
            </div><br>
            <div class="dropdown ">
                <a class="btn font" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    IRCTC Zone
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Jansankya Shitrata Kosh</a>
                    <a class="dropdown-item" href="#">Jago Yatri Jago</a>
                    <a class="dropdown-item" href="#">Maharaja's Express</a>
                </div>
            </div><br>
            <div class="dropdown ">
                <a class="btn font" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    MP/Ex-MP Ticket Booking
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">User Guide:MP/Ex-MP Ticket Booking</a>

                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="dropdown ">
                <a class="btn font" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    For Newly Migrated Agent
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Login Manual</a>
                    <a class="dropdown-item" href="#">Operating Manual for new e-Ticketing website</a>
                    <a class="dropdown-item" href="#">Operating Manual for Agent Interface Application</a>
                </div>
            </div><br>
            <div class="dropdown ">
                <a class="btn font" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Mobile Zone
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Connect</a>
                    <a class="dropdown-item" href="#">Cash on Delivery Mobile App</a>
                    <a class="dropdown-item" href="#">Clear Trip App</a>
                    <a class="dropdown-item" href="#">iCASHCARD App</a>
                    <a class="dropdown-item" href="#">Goibibo Mobile</a>
                    <a class="dropdown-item" href="#">MakeMy Trip</a>
                    <a class="dropdown-item" href="#">Paytm Mobile App</a>
                    <a class="dropdown-item" href="#">State Bank Buddy</a>
                    <a class="dropdown-item" href="#">Yatra Mobile App</a>
                    <a class="dropdown-item" href="#">Justdial Mobile App</a>
                </div>
            </div><br>
            <div class="dropdown ">
                <a class="btn font" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Integration Policy
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Policy for Direct Debit Card Integratrion<br>
                        on e-ticketing website-2017</a>
                    <a class="dropdown-item" href="#">Policy for Netbanking Integration<br> on e-Ticketing</a>
                    <a class="dropdown-item" href="#">Policy for Multiple Payment Provider<br>Integration on IRCTC
                        e-ticketing</a>
                    <a class="dropdown-item" href="#">Policy for Prepaid Instrument <br>Integration on e-ticketing
                        website-2016</a>
                    <a class="dropdown-item" href="#">Policy for Prepaid Instrument <br>Integration on Mobile
                        App-2016</a>
                    <a class="dropdown-item" href="#">Policy for Undefined Payment Interface<br>
                        Integration on e-ticketing websites And<br> Mobile App</a>
                </div>
            </div>

        </div>
    </div><br><br><br><br><br><br><br><br><br>
</div><br><br><br>