<div class="contrainer">
    <section class="responsive img" style="background-image: url('assets/images/railway2.jpg');">

        <div class="row">
            <div class="col-md-6"><br><br><br><br><br>
                <div>


                    <div class="card shadow mb-5 bg-white rounded">
                        <!--Card-Body-->
                        <div class="card-body">
                            <!--Card-Title-->
                            <!-- <p class="card-title text-center shadow mb-5 rounded">Travel Booking Form</p> -->
                            <div class="icons text-center">
                                <!-- <i class="fa fa-plane fa-2x" aria-hidden="true"></i>
                                <i class="fa fa-taxi fa-2x" aria-hidden="true"></i> -->
                                <i class="fa fa-train fa-2x" style="color: black; font-size: 70px;"
                                    aria-hidden="true"></i>
                            </div>
                            <hr>
                            <h1 class="h1"><b>BOOK TICKET</b></h1>
                            <!--First Row-->
                            <div class="row mb-3 mt-3"> <label class="radiobtn"><input type="radio" name="gender"
                                        value="male">&nbsp;One Way</label> <label class="radiobtn"><input type="radio"
                                        name="gender" value="male">Round Trip</label> </div>
                            <!--Second Row-->
                            <div class="row">
                                <div class="col-sm-6"> <select class="browser-default custom-select mb-4" id="select">
                                        <option value="" disabled="" selected="">From City</option>
                                        <option value="1">New Delhi</option>
                                        <option value="2">Mumbai</option>
                                        <option value="3">Bangalore</option>
                                    </select> </div>
                                <div class="col-sm-6"> <select class="browser-default custom-select mb-4" id="select">
                                        <option value="" disabled="" selected="">To City</option>
                                        <option value="1">New Delhi</option>
                                        <option value="2">Mumbai</option>
                                        <option value="3">Bangalore</option>
                                    </select> </div>
                            </div>
                            <!--Third Row-->
                            <div class="row">
                                <div class="col-sm-6"> <input placeholder="&#xf073; Departing" type="text"
                                        id="date-picker-example" class="form-control datepicker mb-4"
                                        style="font-family:Arial, FontAwesome"> </div>
                                <div class="col-sm-6"> <input placeholder="&#xf073; Arriving" type="text"
                                        id="date-picker-example" class="form-control datepicker"
                                        style="font-family:Arial, FontAwesome"> </div>
                            </div>
                            <!--Fourth Row-->
                            <div class="row mt-4">
                                <div class="col-sm-6"> <select class="browser-default custom-select mb-4" id="select">
                                        <option value="" disabled="" selected="">All Clases</option>
                                        <option value="1">Anubhuti Class(EA)</option>
                                        <option value="2">AC First Class(1A)</option>
                                        <option value="3">Exec. Chair Car(EC)</option>
                                        <option value="4">AC 2 Tier(2A)</option>
                                        <option value="5">First Class(FC)</option>
                                        <option value="6"> AC Chair Car(CC)</option>
                                        <option value="7">AC 3 Tier(3A)</option>
                                        <option value="8">AC 3 Economy(3E)</option>
                                        <option value="9">Sleeper(Sl)</option>
                                        <option value="10">Second Sitting(2S)</option>

                                    </select> </div>
                                <div class="col-sm-6"> <select class="browser-default custom-select mb-4" id="select">
                                        <option value="" disabled="" selected="">Category</option>
                                        <option value="1">General</option>
                                        <option value="2">Ladies</option>
                                        <option value="3">Lower BIrth/Sr. Citizen</option>
                                        <option value="4">Divyaang</option>
                                        <option value="5">Tatkaal</option>
                                        <option value="6">Premium Tatkaal</option>
                                    </select> </div>
                            </div>
                            <!--Fifth Row-->
                            <div class="row">
                                <div class="col-sm-4"> <select class="browser-default custom-select mb-4" id="select">
                                        <option value="" disabled="" selected="">Kids(0-14)</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select> </div>
                                <div class="col-sm-4"> <select class="browser-default custom-select mb-4" id="select">
                                        <option value="" disabled="" selected="">Adults(15-64)</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>

                                    </select> </div>
                                <div class="col-sm-4"> <select class="browser-default custom-select mb-4" id="select">
                                        <option value="" disabled="" selected="">Seniors(65+)</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select> </div>
                            </div> <a href="#" class="btn btn-primary float-right mt-5">Search</a>
                        </div>
                    </div>
                </div>
                <div class="div">
                    <a href="#">
                        <h5 class="h5">Get your favorite food dilivered on your Train Seat/Bearth<br> with IRCTC
                            E-Catering at selected stations</h5>
                    </a>
                    <p class="p1">IRCTC Tejas train 82501/82502 (LJN-NDLS-LJN) & 82901/82902<br> (ADI-MMCT-ADI) resumed
                        booking for D.O.J 14-02-2021 onwards.</p>
                </div>


            </div>
            <div class="col-md-6" style="padding-top: 580px;">
                <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
                <h2 class="h2">INDIAN<br> RAILWAYS</h2>
                <P class="p">Safety|Security|Panctuality</P>

            </div>
        </div>
    </section>
</div><br><hr>