<div class="container-fluid">
    <h1 class="h1"><b>Have you not found the right one?<br>
            Find a service suitable for you here.</b></h1><br><br><br>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-2">
            <a class="a" href="#">
                <h1 class="circle"><i style='font-size:60px' class='fas'>&#xf072;</i></h1>
            </a>
            <h4>&nbsp;&nbsp;&nbsp;&nbsp;Flights</h4>
        </div>
        <div class="col-md-2">
            <a class="a" href="#">
                <h1 class="circle"><i style='font-size:60px' class='fas'>&#xf594;</i></h1>
            </a>
            <h4>&nbsp;&nbsp;&nbsp;&nbsp;Hotels</h4>
        </div>
        <div class="col-md-2">
            <a class="a" href="#">
                <h1 class="circle"><i style="font-size:60px" class="fa">&#xf201;</i></h1>
            </a>
            <h4>&nbsp;&nbsp;&nbsp;&nbsp;Rail Drishti</h4>
        </div>
        <div class="col-md-2">
            <a class="a" href="#">
                <h1 class="circle"><i style='font-size:60px' class='fas'>&#xf562;</i></h1>
            </a>
            <h4>&nbsp;&nbsp;&nbsp;&nbsp;E-Catering</h4>
        </div>
        <div class="=col-md-2">
            <a class="a" href="#">
                <h1 class="circle"><i style='font-size:60px' class='fas'>&#xf207;</i></h1>
            </a>
            <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bus</h4>
        </div>
        <div class="col-md-1">
        </div>


    </div><br><br><br>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-2">
            <a class="a" href="#">
                <h1 class="circle"><i style='font-size:60px' class='fas'>&#xf79f;</i></h1>
            </a>
            <h4>&nbsp;Holiday Packages</h4>
        </div>
        <div class="col-md-2">
            <a class="a" href="#">
                <h1 class="circle"><i style='font-size:60px' class='fas'>&#xf238;</i></h1>
            </a>
            <h4>&nbsp;&nbsp;&nbsp;&nbsp;Tourist Train</h4>
        </div>
        <div class="col-md-2">
            <a class="a" href="#">
                <h1 class="circle"><i class="fas fa-mountain" style="font-size: 60px;"></i></h1>
            </a>
            <h4>&nbsp;&nbsp;&nbsp;&nbsp;Hill Railways</h4>
        </div>
        <div class="col-md-2">
            <a class="a" href="#">
                <h1 class="circle"><i style='font-size:60px' class='fas'>&#xf239;</i></h1>
            </a>
            <h4>&nbsp;&nbsp;&nbsp;&nbsp;Charter Train</h4>
        </div>
        <div class="=col-md-2">
            <a class="a" href="#">
                <h1 class="circle"><i style='font-size:60px' class='fas'>&#xf1c5;</i></h1>
            </a>
            <h4>&nbsp;&nbsp;&nbsp;&nbsp;Gallery</h4>
        </div>
        <div class="col-md-1">
        </div>


    </div>



</div><br><br><br><br>