<div class="container-fluid bg">
    <h1 class="h1"><b>HOLIDAYS</b></h1><br>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="assets/images/maharaja.PNG" class="img1" alt="...">
                <div class="card-body">
                    <h2 class="card-title font1"><b>Maharaja"s Express</b></h2>
                    <p class="card-text font">Redefining Royalty, Luxury and Comfort,<br> Maharaja’s express takes you on a
                        sojourn to<br> the era of bygone stately splendour of princely <br>states. Sylvan furnishings, elegant
                        ambience<br> and modern amenities are amalgamated for an <br>“Experience Unsurpassed”. It has been a
                        winner<br> of “World’s Leading Luxury train” by World<br>  Travel Awards consecutively for last six
                        years.</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="assets/images/international.PNG" class="img1" alt="...">
                <div class="card-body">
                    <h2 class="card-title font1"><b>International Packages</b></h2>
                    <p class="card-text font">Best deals in International Holiday packages, <br> handpicked by IRCTC, for
                        Thailand, Dubai, Sri<br>  Lanka, Hong Kong, China, Macau, Bhutan,<br>  Nepal, U.K., Europe, USA, Australia
                        etc. The<br>  packages are inclusive of sightseeing, meals,<br>  visa charges and overseas medical
                        insurance to <br> give you a hassle-free and memorable <br> experience.</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="assets/images/domestic.PNG" class="img1" alt="...">
                <div class="card-body">
                    <h2 class="card-title font1"><b>Domestic Air Packages</b></h2>
                    <p class="card-text font">Be it the spiritual devotee seeking blessings of<br>  Tirupati, Shirdi or Mata
                        Vaishno Devi or the<br>  leisure traveller wanting to relish the Blue<br>  mountains of North East,
                        Sand-dunes of<br>  Rajasthan, Hamlets of Ladakh, Wonders of <br> Himalayas, Serene lakes or Picturesque<br> 
                        Islands, IRCTC has it all. Discover India through<br>  IRCTC!

                    </p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>

        </div>

    </div><br><br>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="assets/images/buddha.PNG" class="img1" alt="...">
                <div class="card-body">
                    <h2 class="card-title font1"><b>Buddhist Circuit Tourist Train</b></h2>
                    <p class="card-text font">India, the country where Buddhism originated<br> has rich memories of the Buddhist
                        legacy. As <br>part of its drive towards austerity, the only kind <br>of art & architecture that it
                        supported were<br> Stupas, Chaityas & Viharas. Buddhist Train <br>India will help you visit all these
                        places up close<br> for a truly religious experience.</p>
                    <a href="#" class="btn btn-primary ">Read More</a>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="assets/images/tour.PNG" class="img1" alt="...">
                <div class="card-body">
                    <h2 class="card-title font1"><b>Rail Tour Packages</b></h2>
                    <p class="card-text font">IRCTC offers Exclusive Rail tour packages with <br>confirmed train tickets,
                        sight-seeing and meals <br>for enchanting Nilgiri Mountains, Darjeeling,<br> Kullu Manali, Kashmir,
                        Gangtok or divine tours<br> of Mata Vaishno Devi, Rameswaram, Madurai,<br> Shirdi, Tirupati etc. Holiday
                        packages/Land <br>packages to these destinations are also available.</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>

        </div>
        <div class="col-md-4">
           <p class="p"> <a href="#"><img class="img" src="assets/images/food.jpg" alt=""></a></p>

         </div>

    </div><br><br> 

</div>